# Version Control Add-in Binaries
# (This should be built from source and not committed to version control)
*.mdb
*.accda
*.accdb
*.zip

# Database lock files
*.laccdb

# Comment out the following line if you wish to include the log files in git.
*.log

# The local VCS index file is paired with the database and should not
# be comitted to version control.
vcs-index.json

# The Forms 2.0 resource file in the testing database is changed on
# every export. Ignore these changes using the following line unless
# we actually make design changes to this example form.
Testing/Testing.accdb.src/vbeforms/frmForm20.frx
