*.komodoproject

# Version Control Add-in Binaries
# (This should be built from source and not committed to version control)
*.mdb
*.accda
*.accdb
*.zip

# Testing database binary
# (This should stay in version control until it can be completely
#  built from scratch with no differences from original.)
!Testing.accdb

# Database lock files
*.laccdb

# Comment out the following line if you wish to include the log files in git.
Export.log
Import.log
Merge.log

# When using Git integration, this file should stay with the database
# and not be comitted to version control.
git-sync.json
